<div class="container">
  <h1>Welcome to {{ title }}!</h1>

  <input type="text" [(ngModel)]="textField">

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Go to
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" target="_blank" href="https://github.com/janelznic/ngx-angular-bootstrap-webpack-boilerplate">Source code</a>
      <a class="dropdown-item" target="_blank" href="https://janelznic.cz">Author's homepage</a>
    </div>
  </div>
</div>
